body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#camera-preview {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 2px solid #333;
    margin-bottom: 20px;
}

#capture-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#capture-btn:hover {
    background-color: #45a049;
}

#captured-image {
    display: none;
}

#result {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
}

#result p {
    margin: 5px 0;
    color: #333;
}

#loader {
    display: none;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 25% auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#start-btn {
    background-color: #a04566;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#start-btn:hover {
    background-color: #a04566;
}

.btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#timer {
    color: #9b3f3f;
    font-size: 46px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

.restart-btn {
    background-color: #a04566;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /** move to the bottom left */
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.restart-btn:hover {
    background-color: #a04566;
}

#result p{
    margin: 5px 0;
    color: #333;
    text-align: center;
}

#result img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: auto;
}

  #cardNumber {
    font-size: 18px;
  }

  .formGroup {
    margin-bottom: 15px;
  }

  #cardNumberLabel,
  #nameLabel,
  #expirationDateLabel,
  #cvvLabel {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  #cardNumber,
  #name,
  #expirationDate,
  #cvv {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
